<template>
  <div>
    <ul>
      <li v-for="n in numbers" :key="n">{{ n }}</li>
    </ul>
    <button @click="pickANumber">Seleziona un numero</button>
    <div v-if="picked">
      Numero estratto: {{ picked }}
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/composition-api';

import useRandomNumber from '@/use/useRandomNumber';

export default {
  setup() {
    const numbers = [10, 23, 33, 45, 74];
    let picked = ref(undefined);
    
    const { generateNewRandomNumber } = 
      useRandomNumber(0, numbers.length - 1, 0);

    function pickANumber() {
      const randNum = generateNewRandomNumber();
      picked.value = numbers[randNum];
    }
    
    return  {
      numbers,
      picked,
      pickANumber
    };
  }
}
</script>