<template>
  <div>
    <div>
      <label for="min">Valore minimo</label>
      <input 
        type="range" 
        name="min" 
        id="min" 
        v-model.number="min" 
        min="0" max="10">
      {{ min }}
    </div>
    <div>
      <label for="max">Valore massimo</label>
      <input 
        type="range" 
        name="max" 
        id="max" 
        v-model.number="max" 
        min="10" max="20">
      {{ max }}
    </div>
    <div>
      {{ randomNumber }} - {{ double }}
    </div>
    <button @click="generateNewRandomNumber">Get a new Number</button>
  </div>
</template>

<script>
import useRandomNumber from '@/use/useRandomNumber';

export default {
  name: 'RandomNumber',
  setup() {
    let {
      min,
      max,
      randomNumber,
      double,
      generateNewRandomNumber
    } = useRandomNumber();

    return  {
      min,
      max,
      randomNumber,
      double,
      generateNewRandomNumber
    };
  }
}
</script>


