<template>
    <div>
      <RandomNumber/>
      <RandomListElement/>
    </div>
</template>

<script>
import RandomNumber from './components/RandomNumber.vue'
import RandomListElement from './components/RandomListElement.vue'

export default {
  name: 'App',
  components: {
    RandomNumber,
    RandomListElement
  }
}
</script>

